.row {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 15px;
}

.agent-account-table thead{
	background-color: #636;
	color: #fff;
}

.topup-confirm {
    margin-left: 15px;
    margin-bottom : 15px;
}

.topup-confirm td{
    padding : 2px 10px;
    font-weight : bolder;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

.table {
    width: 100%;
}

.glyphicon{
	font-size : 20px;
}

.glyphicon-remove{
	color : #FF0000;
	cursor : pointer;
}

.glyphicon-ok{
	color : #008000;
	cursor : pointer;
}

.btn-topup {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #55b555;
  width : 100px;
}

.row {
  margin-right: 0px;
}